<section style="background-color: #eee; width:100%;height:100%;">
  <div class="container py-5">

    <div class="row">
    
      <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-lg-start">Pogovori</h5>

        <div class="card">
          <div class="card-body">

            <ul class="list-unstyled mb-0">
<% @convos.each do |convo| %>
  <%= link_to convo do %>
    <div id="convos">
      <li class="p-2 border-bottom">
        <span class="d-flex justify-content-between">
            <div class="d-flex flex-row">
                <img src="https://perpheads.com/data/avatars/o/6/6498.jpg?1586301375" alt="avatar"
                    class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                <div class="pt-1">
                    <p class="fw-bold mb-0"><%= convo.post.title %></p>
                </div>
            </div>
            </span>
        </li>
        
    </div>
  <% end %>
<% end %>
       </ul>

          </div>
        </div>

      </div>
<div class="col-md-6 col-lg-7 col-xl-8">

<ul class="list-unstyled" style ="
                height: 80vh;
                overflow: auto;
                text-align:justify;">
         
<h5 class="font-weight-bold mb-3 text-center text-lg-start"><%= @convo.post.title %></h5>
<% @messages.each do |message| %>

<% if(current_user.id == message.user_id) %>
    <li class="d-flex justify-content-between mb-4">
            <div class="card w-100">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0">You</p>
                <p class="text-muted small mb-0"><i class="far fa-clock"></i><%= time_ago_in_words(message.created_at) %></p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  <%= message.message %>
                </p>
              </div>
            </div>
            <img src="https://perpheads.com/data/avatars/o/6/6498.jpg?1586301375" alt="avatar"
              class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
          </li>
<%else%>
           <li class="d-flex justify-content-between mb-4">
            <img src="https://i.redd.it/xq295i0sfw651.jpg" alt="avatar"
              class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
            <div class="card w-100">
              <div class="card-header d-flex justify-content-between p-3">
                <p class="fw-bold mb-0"><% user = User.find(message.user_id)%><%=  user.name %> </p>
                <p class="text-muted small mb-0"><i class="far fa-clock"></i> <%= time_ago_in_words(message.created_at)  %> ago</p>
              </div>
              <div class="card-body">
                <p class="mb-0">
                  <%= message.message %>
                </p>
              </div>
            </div>
          </li>
<%end%>
<%end%>
         <%= form_with(model: Message.new, local: true) do |form| %>
          <li class="bg-white mb-3" >
            <div class="form-outline" id = "message">
            <%= form.text_field :message, class: "form-control", rows: 5 %>
              <label class="form-label" for="textAreaExample2">Message</label>
            </div>
          </li>
            <%= form.hidden_field :convo_id, value: @convo.id %>
           <%= form.submit class: "btn btn-info btn-rounded float-end" %> 
        </ul>
        <%end%>
      </div>

    </div>

  </div>
</section>


      

