<p style="color: green"><%= notice %></p>

<%= render @convo %>

<div>
  <%= link_to "Edit this convo", edit_convo_path(@convo) %> |
  <%= link_to "Back to convos", convos_path %>

  <%= button_to "Destroy this convo", @convo, method: :delete %>
</div>
