<div style ="margin-top: 10px;" class=" d-flex justify-content-center">
<div style="border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;" class="col-lg-6">
  <div id="<%= dom_id @post %>">
    <h1><b><%= @post.title %></b></h1>
    <p><%= @post.body %></p>
    <p>
      <strong><i class="fas fa-user"></i> Avtor:</strong>
      <%= @post.user.name %>
    </p>
  </div>
  <div>
  <% if @post.type != "Free" %>
    <strong>Cena:</strong>
    <%= @post.price %> €
  <% end %>
  </div>

  <div class="images d-flex">
    <% @post.allimages.each do |image| %>
      <div class="img-thumbnail" style="height:210px; width:210px; margin-left: 3px;">
        <% if image.representable? %>
        <%= image_tag image, style:"height:200px; width:200px;" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? && current_user.admin && @post.confirmed !=true %>
    <%= button_to "<i class='bi bi-check'></i> Confirm".html_safe, confirm_post_path(@post), method: :put %>
  <%end%>
  <% if user_signed_in? && (current_user == @post.user || current_user.admin) %>
    <div>
      
      <%= button_to "<i class='fas fa-trash'></i> Destroy this post".html_safe, @post, method: :delete %>

      <% if @post.sold %>
        <%= button_to "<i class='fas fa-tags'></i> Mark as unsold".html_safe, unsold_post_path(@post), method: :put %>
      <% else %>
        <%= button_to "<i class='fas fa-tags'></i> Mark as sold".html_safe, sold_post_path(@post), method: :put %>
      <% end %>
      <%= link_to "<i class='fas fa-edit'></i> Edit this post".html_safe, edit_post_path(@post) %> |
      <%= link_to "<i class='fas fa-arrow-left'></i> Back to posts".html_safe, posts_path %>
    </div>
  <% else %>
    <div>
      <%= button_to "<i class='fas fa-comment-alt'></i> Message this seller".html_safe, {controller: "convos", action: "create"}, method: :post, data: { turbo_method: :post }, :params => { :post_id => @post.id } %>
    </div>
  <% end %>
</div>
</div>