<div style ="text-align:center">
<div id="<%= dom_id @post %>">
  <p>
    <%= @post.title %> 
  </p>
    <p>
    <%= @post.body %>
  </p>
  <p>
    <strong>Avtor:</strong>
    <%= @post.user.name %>
  </p>
</div>

<%if(current_user == @post.user)%>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
    <% if @post.sold %>
  <%= button_to "Mark as unsold", unsold_post_path(@post), method: :put %>
<% else %>
  <%= button_to "Mark as sold", sold_post_path(@post), method: :put %>
<% end %>

  </div>
<%else%>
  <div>
<%= button_to "Message this seller", {controller: "convos", action: "create"}, method: :post, data: { turbo_method: :post }, :params => { :post_id => @post.id } %>

 

  </div>
<%end%>

</div>