      <li class="nav-item">
        <%= link_to 'Conversations', convos_path, class: "nav-link #{display_active_class(convos_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Posts', myposts_path , class: "nav-link #{display_active_class(myposts_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Admin', admin_path, class: "nav-link #{display_active_class(admin_path)}" %>
      <li class="nav-item">
        <%= link_to 'Edit Profile', edit_user_registration_path,  class:  "nav-link #{ display_active_class( edit_user_registration_path)}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Logout', destroy_user_session_path,  class: "nav-link", data: { turbo_method: :delete } %>
      </li>
     