<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <%= link_to '<i class="bi bi-bug"></i>'.html_safe, root_path,  class:  "nav-link #{ display_active_class(root_path)}" %>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
        <%= link_to 'New Post', new_post_path,  class:  "nav-link #{ display_active_class(new_post_path)}"  %>
      </li>
      <%= display_navbar_options %>
      </ul>
     
     
      <%= form_tag(posts_path, method: :get, class: 'd-flex input-group w-auto') do %>
      <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id] }, params[:category]), prompt: 'Select Category', class: 'form-control' %>
  <%= select_tag :type, options_for_select(Type.all.map{ |t| [t.name, t.id] }, params[:type]), prompt: 'Select Type', class: 'form-control' %>
  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Type query', aria: { label: 'Search' } %>
  <%= button_tag 'Search', class: 'my-btn', type: 'submit'%>
<% end %>

    </div>
  </div>
</nav>